<a href="https://colab.research.google.com/github/149189/Mumbai_Weather_data_Predictions/blob/main/Mumbai_Weather_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd

weather = pd.read_csv("rainfall in india 1901-2015.csv")
weather

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4111,LAKSHADWEEP,2011,5.1,2.8,3.1,85.9,107.2,153.6,350.2,254.0,255.2,117.4,184.3,14.9,1533.7,7.9,196.2,1013.0,316.6
4112,LAKSHADWEEP,2012,19.2,0.1,1.6,76.8,21.2,327.0,231.5,381.2,179.8,145.9,12.4,8.8,1405.5,19.3,99.6,1119.5,167.1
4113,LAKSHADWEEP,2013,26.2,34.4,37.5,5.3,88.3,426.2,296.4,154.4,180.0,72.8,78.1,26.7,1426.3,60.6,131.1,1057.0,177.6
4114,LAKSHADWEEP,2014,53.2,16.1,4.4,14.9,57.4,244.1,116.1,466.1,132.2,169.2,59.0,62.3,1395.0,69.3,76.7,958.5,290.5
4115,LAKSHADWEEP,2015,2.2,0.5,3.7,87.1,133.1,296.6,257.5,146.4,160.4,165.4,231.0,159.0,1642.9,2.7,223.9,860.9,555.4

In [ ]:
weather["datetime"]

In [ ]:
weather_1hot = pd.get_dummies(weather)
weather_1hot.head()

In [ ]:
x = weather_1hot.drop("temp",axis =1)
y = weather_1hot["temp"]
from sklearn.model_selection import train_test_split
x.size

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.01,random_state = 42)
len(x),len(x_train),len(x_test),len(y),len(y_train),len(y_test)

In [ ]:
tf.random.set_seed(42)
cyber_model = tf.keras.Sequential([tf.keras.layers.Dense(100),
                                     tf.keras.layers.Dense(50),
                                     tf.keras.layers.Dense(1)])

cyber_model.compile(loss = "mae",optimizer = tf.keras.optimizers.Adam(1),metrics = ["mae"])
history = weather_model.fit(x_train,y_train,epochs = 100)

In [ ]:
import matplotlib.pyplot as plt

weather_model.evaluate(x_test,y_test)

In [ ]:
y_predictions = weather_model.predict(x_test)
y_predictions

In [ ]:
y_test

In [ ]:
pd.DataFrame(history.history).plot()
plt.ylabel("loss")
plt.xlabel("epochs")

In [ ]:
cyber_model.save("run_model")